body{
    background-color: black;
    margin: 0px;
}

.menu-dispositivos{
    color:white;
    position: sticky;
    top:44px;
    left: 0px;
    display:flex;
    justify-content: space-around;
    align-items: center;
}

.oncepro
{
    color: white;
    height: 600px;
    width: 100%;
    background-image: url(/images/hero_iphone11_pro__je9i781j99u2_small_2x.jpg);
}

.oncepro
{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.oncepro>h1
{
    text-align: center;
}

.oncepro *
{
    flex-basis: 20%;
}

.oncepro button
{
    width: 100px;
    padding: 0%;
}

@media only screen and (max-width: 796px) {
    .dispositivos{
        display: none;
    }

    #toggle{
        display: none;
    }

    .header{
        background-color: rgb(51, 51, 51);
        display: flex;
        justify-content: space-between;
        height: 50px;
    }
    
    img{
        width: 49px;
        height: 49px;
    }

    .menu{
        background-color: black;
        display: flex;
        flex-direction: column;
    }

    .menu a{
        margin-left: 45px;
    }
}

